<html>
<body>
<h1>This is a student information system</h1>
<h1>You can write comments</h1>
<h1>Only authorized administrator can manage student information and edit/delete comments</h1>
<h1>Enjoy</h1>
<img src="https://app27818.herokuapp.com/images/sinatra.jpg" alt="About" width=100%>
</body>
</html>