<html>
<h1>Please enter information</h1>
<form action="/students/add" method='post'>
    First name:<br>
    <input type="text" name=student[firstname] required><br>
    Last name:<br>
    <input type="text" name=student[lastname] required><br>
    Birthday (MM/DD/YYYY):<br>
    <input type="text" name=student[birthday] pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"><br>
    Address:<br>
    <input type="text" name=student[address]><br>
    Student ID:<br>
    <input type="text" name=student[stdid] pattern="\d+" required><br>
    <br>
    <input type="submit" value="Submit">
 </form>
 </html>