<html>
<h1>You can edit the information</h1>
<form action="/comments/<%=@comment.id%>/edit" method='post'>
	Your Name:<br>
	<input type="text" name=comment[name] value="<%=@comment.name%>" equired></br>
    Comment:<br>
    <input type="text" name=comment[comment_body] value="<%=@comment.comment_body%>" required><br>
    <input type="hidden" name=comment[created_at] value="<%=Time.now%>">
    <input type="submit" value="Submit">
 </form>
 </html>