<html>
<h1>Edit Comment</h1>
<body>
<p>Name: <%=@comment.name%></p>
<p>Comment: <%=@comment.comment_body%></p>
<p>Published Date: <%=@comment.created_at%></p>


<a href = "/comments">Back to comments</a>
<br>
<a href = "/comments/<%=@comment.id%>/edit">Edit/Delete comment</a>
</body>
</html>